.tool-bar-ri {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  .header-icon {
    display: flex;
    align-items: center;
    & > * {
      margin-left: 21px;
      color: #333333;
    }
  }
  .username {
    margin: 0 20px;
    font-size: 15px;
    color: #333333;
  }
}