$primaryColor: #3ba0e9;
$warningColor: #faad14;
$errorColor: #ff4d4f;
$gray: #dddddd;

#root {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.t-c {
  text-align: center;
}
.mt-15 {
  margin-top: 15px;
}
.p-15 {
  padding: 15px;
}
.m-8 {
  margin: 8px;
}
.flex {
  display: flex;
}
.f-j-c {
  justify-content: center;
}
.f-j-s {
  justify-content: space-between;
}
.f-a-c {
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.fw-b {
  font-weight: bold;
}
p {
  padding: 0;
  margin: 0;
}
.c-gray {
  color: $gray!important;
}
.c-primary {
  color: $primaryColor!important;
}
.c-warning {
  color: $warningColor!important;
}
.c-error {
  color: $errorColor!important;
}
::-webkit-scrollbar {
  width: 8px; /* 设置滚动条的宽度 */
  height: 8px;
}/* 设置滚动条的轨道（背景）样式 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 设置轨道的背景颜色 */
}/* 设置滚动条的滑块（滚动条）样式 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #878789; /* 设置滑块的背景颜色 */
}/* 设置滚动条滑块的hover样式 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 设置滑块的hover背景颜色 */
}
.bg-primary {
  background: rgba(127, 238, 238, 0.1)!important;
}
.bg-warning {
  background: rgb(235, 186, 88,.1)!important;
}
.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer-bottom-btns {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  justify-content: flex-end;
  border-top: 1px solid #dddddd;
  box-shadow: 14px 10px 10px 10px #d9d9d9;
}

.ant-descriptions_table {
  border-collapse: collapse;
  width: 100%;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  .ant-descriptions_cell {
    padding: 8px 11px;
    border: 1px solid #ebeef5;
  }
  .ant-descriptions_label {
    
    font-weight: 700;
    color: #606266;
    width: 200px;
    background: #f5f7fa;
  }
  .ant-descriptions_content {
    color: #303133;
  }
}
.ant-space {
  flex-wrap: wrap;
}
.ant-divider {
  margin: 16px 0;
}